* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1 {
    color:#0084ff;
    text-align: center;
    font-weight: 600;
    text-decoration: underline hsl(32, 100%, 50%) wavy;
    text-transform: uppercase;
}
h2 {
    color:#0084ff;
    text-align: center;
    font-weight: 300;
}
body {
    background-color: beige;
}

button {
    color:aliceblue;
    background-color: none;
    border-radius: 1rem;
    
}
section {
    background: darkkhaki;
}
p{
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 5cap;
}