* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1 {
    color:#0084ff;
    text-align: center;
    font-weight: 600;
    text-decoration: underline hsl(32, 100%, 50%) wavy;
    text-transform: uppercase;
}
h2 {
    color:#0084ff;
    text-align: center;
    font-weight: 300;
}
body {
    background-color: beige;
}

button {
    color:aliceblue;
    background-color: black;
    border-radius: 1rem;
}
button:hover {
    font-weight: bold;
}
section {
    background: darkkhaki;
}
p{
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 5cap;
}
/* Descendant selector */
p a {
    color:blueviolet;
}

/*Using ID*/
#btn2 {
    background-color: aliceblue;
    color: blue;
}
/* Selector class  */
.tag {
    background-color: brown;
}

/* Adjacent selector */
h2 + button {
    font-weight: bold;
}


/* Diret child */
div > p {
    color: chartreuse;
}

/* Attribute selector */
input[type="text"] {
    width 300px;
    color: yellow;
}

/* Pseudo Classes 
:active
:checked
:first
:first-child
:hover
:not()
:nth-child()
:nth-of-type()   */

/* Pseudo Elements
::first-letter
*/
p::selection {
    color:#0084ff;
}