body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center; */
}
#mainContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 300px;
}

#buttonsContainer {
    margin-top: 10px;
}

/* .winner {
    color: green;
}

.loser {
    color: red;
} */