<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>Edit comment</h1>
    <form method="post" action="/comments/<%=comment.id%>?_method=PATCH">    
    <section>
            <label for="comment">Comment text:</label>
            <br>
            <textarea cols="30" rows="5" name="comment">
                <%= comment.comment %>
            </textarea>
        </section>
        <button>Save</button>
    </form>
</body>
</html>