<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>Edit comment</h1>
    <form action="" method="post">
        <section>
            <label for="comment">Comment text:</label>
            <br>
            <textarea id="comment" cols="30" rows="5" name="comment"><%= comment.comment %></textarea>
        </section>
        <button>Submit</button>
    </form>
</body>
</html>