nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px dotted hsl(0, 2%, 82%);
    width: 30%;
    margin: calc(10%/6);
    padding: 20px 0;
}

img {
    width: 30%;
    margin: calc(10%/6); /* You can introduce a calculator*/
    border-radius: 2%;
    transition: 0.3s;
}

img:hover {
    box-shadow: 0 0.5em 0.5em -0.3em #b6b6b5;
    transform: scale(1.1, 1.1);

}